<launch>
    <!--<include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="align_depth" value="false"/>
      <arg name="initial_reset" value="true"/>
    </include>-->

    <param name="velocity_upper" type="int" value="1600" />
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" />
    <node name="joystick_translator" pkg="autonav" type="joystick_translator" output="screen"/>
    <node name="servo_interface" pkg="autonav" type="servo_interface" output="screen"/>
    <node name="motor_interface" pkg="autonav" type="motor_interface" output="screen"/>
    <node name="ir_node" pkg="autonav" type="ir_node" output="screen"/>
</launch>
