<launch>
    <node pkg="tf2_ros" type="static_camera_to_base_publisher" name="base_to_camera_tf" args="0.1 0 0 0 0 0 /base_link /camer_link 10"/>
    <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_d435_rgbd.launch"/>
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

    <!-- Call URDF links -->
    <param name="robot_description" command="cat $(find my_robot)/urdf/autonav_bot.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>