<launch>
  <!-- Load robot_localization ekf_localization_node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <!-- Set frequency -->
    <param name="frequency" value="30"/>

    <!-- Configure sensor inputs -->
    <param name="sensor_timeout" value="0.1"/>
    <param name="two_d_mode" value="true"/>

    <!-- IMU input -->
    <param name="imu0" value="/imu/data"/>
    <param name="imu0_config" value="[false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      true, true, true,
                                      true,  true,  true]"/>
    <!-- Velocity input -->
    <param name="odom0" value="/pwm/"/>
    <param name="odom0_config" value="[false,  false,  false,
                                       false, false, false,
                                       true, false, false,
                                       false, false, false
                                       false, false, false]"/>

    <!-- Set covariances -->
    <param name="imu0_linear_acceleration_covariance" value="0.05"/>
    <param name="imu0_angular_velocity_covariance" value="0.05"/>
    <param name="odom0_twist_covariance" value="0.1"/>

    <!-- Set process noise covariances -->
    <param name="process_noise_covariance" value="[0.05, 0,    0,    0,    0,    0,
                                                   0,    0.05, 0,    0,    0,    0,
                                                   0,    0,    0.06, 0,    0,    0,
                                                   0,    0,    0,    0.03, 0,    0,
                                                   0,    0,    0,    0,    0.03, 0,
                                                   0,    0,    0,    0,    0,    0.06]"/>
  </node>
</launch>
